In [1]:
import pandas as pd
import numpy as np

In [13]:
df=pd.read_csv('C://Users//User//Downloads//UPI_txn.csv', sep=',', header=None)

In [14]:
df.head()

                                                   0
0  {"orderId":"7954877950273553","trackingId":"10...
1  {"orderId":"6820867014627101","trackingId":"10...
2  {"orderId":"6462520403870214","trackingId":"10...
3  {"orderId":"3625495697323194","trackingId":"10...
4  {"orderId":"4720020327507504","trackingId":"10...

In [15]:
df.columns=['p']

In [16]:
df.head()

                                                   p
0  {"orderId":"7954877950273553","trackingId":"10...
1  {"orderId":"6820867014627101","trackingId":"10...
2  {"orderId":"6462520403870214","trackingId":"10...
3  {"orderId":"3625495697323194","trackingId":"10...
4  {"orderId":"4720020327507504","trackingId":"10...

In [20]:
df["p"] = df["p"].apply(lambda x : dict(eval(x)))

In [21]:
df.head()

                                                   p
0  {'orderId': '7954877950273553', 'trackingId': ...
1  {'orderId': '6820867014627101', 'trackingId': ...
2  {'orderId': '6462520403870214', 'trackingId': ...
3  {'orderId': '3625495697323194', 'trackingId': ...
4  {'orderId': '4720020327507504', 'trackingId': ...

In [22]:
df2 = df["p"].apply(pd.Series)

In [25]:
df2.head()

,amount,bankRefNo,billingAddress,billingCity,billingCountry,billingEmail,billingName,billingNotes,billingState,billingTel,...,orderStatus,paymentMode,responseCode,retry,statusCode,statusMessage,tempToken,trackingId,transDate,vault
0,300.0,729010756095,IndiQube Alpha - ORR,Bangalore,India,vinodn@eximiusdesign.com,Vinod raj,,KA,9742503373,...,Success,Unified Payments,0,N,null,null,d7e21bd0-b2f9-11e7-8a35-3350d76b6588,106289381919,17/10/2017 10:43:36,N
1,1.0,729011900508,IndiQube Alpha - ORR,Bangalore,India,shrinath.shenoy@techpearl.com,Shrinath Shenoy,,KA,9448556822,...,Success,Unified Payments,,N,,Success,70939680-b2fd-11e7-8a35-3350d76b6588,106289395456,2017-10-17 11:13:29.43,N
2,100.0,null,IndiQube Alpha - ORR,Bangalore,India,adeshpande@xebia.com,Aniket Deshpande,,KA,7795029206,...,Failure,Unified Payments,0,N,null,null,9217a440-b7c6-11e7-8a35-3350d76b6588,106291281486,23/10/2017 13:19:23,N
3,100.0,729614807535,IndiQube Alpha - ORR,Bangalore,India,rohan@versa-networks.com,Rohan Pai,,KA,9980129406,...,Success,Unified Payments,0,N,null,null,556fe800-b7cf-11e7-958d-03922d49b860,106291307191,23/10/2017 14:21:51,N
4,10.0,729717762830,IndiQube Alpha - ORR,Bangalore,India,manish.vardhan@bluestone.com,Manish Vardhan,,KA,8861617786,...,Success,Unified Payments,0,N,,null,8a74c4c0-b8b1-11e7-8a35-3350d76b6588,106291752691,24/10/2017 17:22:01,N

In [41]:
df2=df2[df2.cardName=='UPI']

In [42]:
df2.shape

(1466, 43)

In [52]:
df2.to_excel('Upi_trans.xlsx', index=False)

In [44]:
df3=df2[df2.orderStatus=='Failure']

In [53]:
df3.to_excel('FailedUPI.xlsx', index=False)

In [47]:
df4=df2[df2.orderStatus=='Aborted']

In [54]:
df4.to_excel('AbortedUPI.xlsx', index=False)

In [49]:
df2.orderStatus.value_counts()

Success    1216
Failure     128
Aborted     122
Name: orderStatus, dtype: int64

In [50]:
df3.shape

(128, 43)

In [51]:
df4.shape

(122, 43)

In [40]:
list(df2.columns)

['amount',
 'bankRefNo',
 'billingAddress',
 'billingCity',
 'billingCountry',
 'billingEmail',
 'billingName',
 'billingNotes',
 'billingState',
 'billingTel',
 'billingZip',
 'binCountry',
 'cardName',
 'currency',
 'deliveryAddress',
 'deliveryCity',
 'deliveryCountry',
 'deliveryName',
 'deliveryState',
 'deliveryTel',
 'deliveryZip',
 'discountValue',
 'eciValue',
 'failureMessage',
 'merAmount',
 'merchantParam1',
 'merchantParam2',
 'merchantParam3',
 'merchantParam4',
 'merchantParam5',
 'offerCode',
 'offerType',
 'orderId',
 'orderStatus',
 'paymentMode',
 'responseCode',
 'retry',
 'statusCode',
 'statusMessage',
 'tempToken',
 'trackingId',
 'transDate',
 'vault']